name: CI/CD Pipeline

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: List files
        run: ls -l

  deploy:
    runs-on: self-hosted  #laptop
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy HTML/JS
        run: |
          echo "Deploying files to local server folder..."
          copy index.html C:\Users\device1\Desktop\DeploymentFolder
          copy script.js C:\Users\device1\Desktop\DeploymentFolder
