name: CI/CD Pipeline

on:
  push:
    branches: [master]

jobs:
  test-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Install Dependencies
        run: npm install
        
      - name: Run Tests
        run: npm test
        
      - name: Deploy
        if: success()
        run: xcopy . "C:\Users\device1\Desktop\DeploymentFolder" /E /H /Y
